<configuration>
  <appSettings>
    <add key="cudaDevice2Intensity" value="24" />
    <add key="cudaDevice2HWmon" value="true" />
    <add key="cudaDevice2MinRPM" value="1000" />
    <add key="cudaDevice2MaxGPUTemp" value="89" />
    <add key="cudaDevice3Intensity" value="24" />
    <add key="cudaDevice3HWmon" value="true" />
    <add key="cudaDevice3MinRPM" value="1000" />
    <add key="cudaDevice3MaxGPUTemp" value="89" />
    <add key="cudaDevice4Intensity" value="24" />
    <add key="cudaDevice4HWmon" value="true" />
    <add key="cudaDevice4MinRPM" value="1000" />
    <add key="cudaDevice4MaxGPUTemp" value="89" />
    <add key="cudaDevice5Intensity" value="24" />
    <add key="cudaDevice5HWmon" value="true" />
    <add key="cudaDevice5MinRPM" value="1000" />
    <add key="cudaDevice5MaxGPUTemp" value="89" />
    <add key="cudaDevice6Intensity" value="24" />
    <add key="cudaDevice6HWmon" value="true" />
    <add key="cudaDevice6MinRPM" value="1000" />
    <add key="cudaDevice6MaxGPUTemp" value="89" />
    <add key="cudaDevice7Intensity" value="24" />
    <add key="cudaDevice7HWmon" value="true" />
    <add key="cudaDevice7MinRPM" value="1000" />
    <add key="cudaDevice7MaxGPUTemp" value="89" />
    <add key="cudaDevice8Intensity" value="24" />
    <add key="cudaDevice8HWmon" value="true" />
    <add key="cudaDevice8MinRPM" value="1000" />
    <add key="cudaDevice8MaxGPUTemp" value="89" />
    <add key="cudaDevice9Intensity" value="24" />
    <add key="cudaDevice9HWmon" value="true" />
    <add key="cudaDevice9MinRPM" value="1000" />
    <add key="cudaDevice9MaxGPUTemp" value="89" />
    <add key="cudaDevice10Intensity" value="24" />
    <add key="cudaDevice10HWmon" value="true" />
    <add key="cudaDevice10MinRPM" value="1000" />
    <add key="cudaDevice10MaxGPUTemp" value="89" />
    <add key="cudaDevice11Intensity" value="24" />
    <add key="cudaDevice11HWmon" value="true" />
    <add key="cudaDevice11MinRPM" value="1000" />
    <add key="cudaDevice11MaxGPUTemp" value="89" />
    <add key="cudaDevice12Intensity" value="24" />
    <add key="cudaDevice12HWmon" value="true" />
    <add key="cudaDevice12MinRPM" value="1000" />
    <add key="cudaDevice12MaxGPUTemp" value="89" />
    <add key="cudaDevice13Intensity" value="24" />
    <add key="cudaDevice13HWmon" value="true" />
    <add key="cudaDevice13MinRPM" value="1000" />
    <add key="cudaDevice13MaxGPUTemp" value="89" />
    <add key="cudaDevice14Intensity" value="24" />
    <add key="cudaDevice14HWmon" value="true" />
    <add key="cudaDevice14MinRPM" value="1000" />
    <add key="cudaDevice14MaxGPUTemp" value="89" />
    <add key="cudaDevice15Intensity" value="24" />
    <add key="cudaDevice15HWmon" value="true" />
    <add key="cudaDevice15MinRPM" value="1000" />
    <add key="cudaDevice15MaxGPUTemp" value="89" />
    <add key="cudaDevice16Intensity" value="24" />
    <add key="cudaDevice16HWmon" value="true" />
    <add key="cudaDevice16MinRPM" value="1000" />
    <add key="cudaDevice16MaxGPUTemp" value="89" />
    <add key="cudaDevice17Intensity" value="24" />
    <add key="cudaDevice17HWmon" value="true" />
    <add key="cudaDevice17MinRPM" value="1000" />
    <add key="cudaDevice17MaxGPUTemp" value="89" />
    <add key="cudaDevice18Intensity" value="24" />
    <add key="cudaDevice18HWmon" value="true" />
    <add key="cudaDevice18MinRPM" value="1000" />
    <add key="cudaDevice18MaxGPUTemp" value="89" />
    <add key="cudaDevice0MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice1MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice0MinRPM" value="0" />
    <add key="cudaDevice0MaxGPUTemp" value="80" />
    <add key="cudaDevice0HWmon" value="True" />
    <add key="cudaDevice0MinRPMEnable" value="True" />
    <add key="cudaDevice0MaxGPUTempEnable" value="True" />
    <add key="cudaDevice1Intensity" value="26" />
    <add key="cudaDevice1MinRPM" value="801" />
    <add key="cudaDevice1MaxGPUTemp" value="61" />
    <add key="cudaDevice1HWmon" value="True" />
    <add key="cudaDevice1MinRPMEnable" value="False" />
    <add key="cudaDevice1MaxGPUTempEnable" value="True" />
    <add key="cudaDevice2MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice2MinRPMEnable" value="False" />
    <add key="cudaDevice3MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice3MinRPMEnable" value="False" />
    <add key="cudaDevice4MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice4MinRPMEnable" value="False" />
    <add key="cudaDevice5MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice5MinRPMEnable" value="False" />
    <add key="cudaDevice6MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice6MinRPMEnable" value="False" />
    <add key="cudaDevice7MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice7MinRPMEnable" value="False" />
    <add key="cudaDevice8MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice8MinRPMEnable" value="False" />
    <add key="cudaDevice9MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice9MinRPMEnable" value="False" />
    <add key="cudaDevice10MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice10MinRPMEnable" value="False" />
    <add key="cudaDevice11MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice11MinRPMEnable" value="False" />
    <add key="cudaDevice12MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice12MinRPMEnable" value="False" />
    <add key="cudaDevice13MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice13MinRPMEnable" value="False" />
    <add key="cudaDevice14MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice14MinRPMEnable" value="False" />
    <add key="cudaDevice15MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice15MinRPMEnable" value="False" />
    <add key="cudaDevice16MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice16MinRPMEnable" value="False" />
    <add key="cudaDevice17MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice17MinRPMEnable" value="False" />
    <add key="cudaDevice18MaxGPUTemp_Enable" value="True" />
    <add key="cudaDevice18MinRPMEnable" value="False" />
    <add key="encryptedPKbytes" value="4f3e58e7476915f8f2962da9e47eac3d096bc60a047660884c6bc0ec359e307bef49f0841b0f57ab9c3eee87238aa19a" />
    <add key="encryptedPKnonce" value="0094c7693f61ffde0adf02dfc9f8e2beebf23d0caed94f86" />
    <add key="encryptedPKlength" value="48" />
    <add key="kdfAlgo" value="2" />
    <add key="salt" value="d0d47b096dce8be102227c54f6f9f2f8ae1ef67f44f8045585179d0818ff4df1" />
    <add key="userGasPrice" value="1.0" />
    <add key="userGasLimit" value="400000" />
    <add key="chainID" value="3" />
    <add key="soloNetworkNode" value="https://ropsten.infura.io/v3/c28a1fc40bc94c779b98563fa59afc95" />
    <add key="soloContractAddress" value="0x8f55EEa90f914Df7fff673F7f78aeb0aaDEC3bDa" />
    <add key="PoolURL" value="mike.rs:8080" />
    <add key="MinerEthAddress" value="0x7C4AADEC857E13E4a5642B4041a2f36274fFE8ce" />
    <add key="NetworkInterval" value="875" />
    <add key="DiffUpdateFreq" value="50" />
    <add key="AutoDonatePercent" value="1.5" />
    <add key="AutoStart" value="1.5" />
    <add key="DialogConfigured" value="true" />
    <add key="Verbosity" value="3" />
    <add key="soloNetInterval" value="750" />
    <add key="cudaDevice0Intensity" value="26" />
  </appSettings>
</configuration>